<h1> <%= @cat.name %> </h1>

<% if @cat.user == current_user %>
  <h2> <%=link_to "Edit", edit_cat_url(@cat) %> </h2>
<% end%>

<h2> <%= link_to "All Cats", cats_url %> </h2>


<table>
  <tr>
    <td> Age: <%=@cat.age%> </td>
  </tr>
  <tr>
    <td> Birth date: <%=@cat.birth_date%> </td>
  </tr>
  <tr>
    <td> Color: <%=@cat.color%> </td>
  </tr>
  <tr>
    <td> Sex: <%=@cat.sex%> </td>
  </tr>
  <tr>
    <td> Owner: <%= @cat.user.user_name %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% @cat.rentals.each do |rental| %>
  <tr>
    <td> <%=rental.start_date%> </td>
    <td> <%=rental.end_date%> </td>

    <%if rental.status == "APPROVED" %>
      <td> Approved </td>
    <%elsif rental.status == "DENIED"%>
      <td> Denied</td>
    <%elsif rental.user == current_user %>
      <td><%= button_to "Approve", cat_rental_request_url(rental), params: {decision: "approve"}, :method => "patch" %></td>
      <td><%= button_to "Deny", cat_rental_request_url(rental), params: {decision: "deny"}, :method => "patch" %></td>
    <% else%>
      <td> Pending </td>
    <% end%>
  </tr>
  <% end %>
</table>


